<section class="d-flex flex-column justify-content-center align-items-center vh-100" style="
    background: url('../../QuizGame/public/img/background.png')">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 col-lg-4">

            <div class="card p-4 shadow">
                <div class="card-body text-center">
                    <h2 class="card-title mb-3">Activación de Cuenta</h2>

                    <div class="alert alert-info">
                        {{message}}
                    </div>

                    <a href="/QuizGame/login" class="btn btn-primary">Ir al inicio de sesión</a>
                </div>
            </div>

        </div>
    </div>
</section>