<section>
    <h1 class="text-center text-white mt-5">¡Tiempo agotado! La partida ha terminado.</h1>

    {{#partida}}
        <div class="container mt-4">
            <div class="row justify-content-center">

                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="card bg-dark text-white shadow-sm">
                        <div class="card-body text-center">
                            <h3 class="card-title mb-3">Puntaje total:</h3>
                            <p class="lead">{{puntaje}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botón Volver al inicio -->
            <div class="d-flex justify-content-center mt-5">
                <a href="/QuizGame/lobby" class="btn btn-danger btn-lg px-5 py-3">Volver al inicio</a>
            </div>
        </div>
    {{/partida}}
</section>
