<section class="d-flex flex-column justify-content-center align-items-center vh-100" style="
    background: url('../../QuizGame/public/img/background.png')">
    <div class="col-md-8 text-center">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h3 class="mb-0">Estado del Reporte</h3>
            </div>
            <div class="card-body p-5">
                <p class="fs-4">{{mensaje}}</p>
                <a href="{{url_partida}}" class="btn btn-primary btn-lg mt-4 px-5">
                    Continuar Partida
                </a>
            </div>
        </div>
    </div>
</section>