{{! view/loginFormView.mustache }}
<div class="card p-4 shadow-lg" style="width: 22rem;">
    <h2 class="text-center mb-3">Iniciar sesión</h2>

    {{#error}}
        <p>{{error}}</p>
    {{/error}}

    <form action="login/processLogin" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        <div class="text-center mt-3">
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>

