{{#user}}
    {{nombre_completo}}
    {{año_nacimiento}}
    {{sexo}}
    {{pais}}
    {{ciudad}}
    {{mail}}
    {{usuario}}
    {{password}} <!-- se pone o no se pone -->
    {{foto_perfil}}
{{/user}}