<section  class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container py-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">¡Gracias por registrarte, <strong>{{username}}</strong>!</h2>
                        <p class="mb-4 fs-5">
                            Te hemos enviado un correo electrónico a {{email}}
                        </p>
                        <p class="mt-4 text-muted small">
                            Si no hiciste este registro, ignorá este mensaje.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>